        body {
            font-size: 16px;
        }
        h1 {
            font-family: sans-serif;
            text-align: center;
        }

        p {
            font-weight: 600;
            font-size: 3em;
            font-style: oblique;
            text-decoration: underline;
        }

        
        ul {
            line-height: 40px;
        }

        #yellow-item {
            background-color: yellow;
        }
        #red-item {
            background-color: red;
        }
        #brown-item {
            background-color: brown;
        }